@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background: #f9f9f9;
}

.ant-select-clear {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  font-size: 16px;
  touch-action: manipulation;
  z-index: 2;
}
