@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background: #F9F9F9;
}
